* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #1f1f22;
    background-size: cover;
}

header {
    margin-left: 10%;
    margin-right: 10%;
    width: auto;
}

form .btn {
    margin-top: 10px;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:hover {
    color: #23527c;
    text-decoration: none;
}

.main hr {
    color: #130d2b;
    background-color: #130d2b;
    height: 2px;
    margin-top: 5px;
}

.main {
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    width: auto;
    background-color: #f5f5f5;
}

.main h3, h5 {
    padding: 10px;
}

.main section {
    padding-left: 3%;
    border: 1px solid silver;
}

.main section h6 {
    color: #999999;
}

.section_films span {
    font-size: 10px;
    color: #999999;
}

.section_films a {
    font-size: 20px;
}

.navigation {
    padding: 20px;
}

.view_film {
    padding: 2%;
}

select {
    width: 100%;
}

.film_table {
    border: 1px solid silver;
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-top: 25px;
    margin-bottom: 25px;
}

.film_table th,
.film_table td {
    padding: 12px 15px;
}

.film_table tr {
    border-bottom: 1px solid #dddddd;
}

.film_table tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.film_table tr:last-of-type {
    border-bottom: 2px solid #7a5698;
}

.film_table th:last-of-type {
    width: 80%;
    font-family: Arial;
    font-weight: lighter;
}

.import_form {
    margin-top: 10px;
    display: none;
}

.search input {
    margin-top: 20px;
}

.search input[type="text"] {
    width: 70%;
    float: left;
    margin-right: 10px;
}

.section_paginator {
    padding-top: 10px;
}

.section_paginator a {
    color: #7c7a73;
}

.section_paginator li {
    margin-right: 10px;
}

.section_paginator li.active a {
    color: #0e087c;
    font-weight: 600;
}

.exist_error {
    color: red;
}

footer {
    text-align: right;
    color: #999999;
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
    width: auto;
    background-color: #f5f5f5;
}